# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
yfinance==0.2.58
pandas
numpy
azure.storage.blob
pyodbc
sqlalchemy
datetime
